include ../_mixins/glyphicons
include ../_mixins/keyterm
include ../_mixins/figure
include ../_mixins/video
include ../_mixins/glossref
include ../_mixins/pull-quote

//- Custom Configuration
block config
    - let meta = config.metadata
    - let baseUrl = config.baseUrl || "./"
    - let title = meta.title
    - let desc = meta.description || ""
    - let position = null
    - let linear = "yes"
    - let body = { class: null, type: null }
    - let custom = { css: false, js: false }
    - let scripted = true
    
//- add xml doctype manually so pug doesn't think we're using it
<?xml version="1.0" encoding="utf-8"?>

doctype strict

<!--[if lt IE 9]>
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" class="lt-ie9 no-js" lang="en")
<![endif]-->
<!--[if gte IE 9]><!-->
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" class="no-js" lang="en")
<!--<![endif]-->

head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1')
    title= title
    meta(name='description', content=desc)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block stylesheets
        link(rel='stylesheet', href='styles/main.css')
        if custom.css
            link(rel='stylesheet', href=`styles/custom/${filename}.css`)
body
body(class=body.class,epub:type=body.type,data-position=position)
    <!--[if lt IE 9]>
    .alert.alert-warning(role='alert')
        .container You are using an #[strong outdated] browser. Please #[a(href='http://browsehappy.com/') upgrade your browser] to improve your experience.
    <![endif]-->

    block content

    block scripts
        if scripted
            script(src="scripts/vendor.js")
            script(src="scripts/main.js")
        if custom.js
            script(src=`scripts/custom/${filename}.js`)

</html>
